COUCHDB_PASSWORD=password
NEXTCLOUD_PASSWORD=password
DATAMGMT_PASSWORD=password
#empty to switch the telegram bot off your_telegram_token
TELEGRAM_TOKEN=
#empty to disable proxing
TELEGRAM_PROXY_URL=
API_KEY=api_key
DOMAIN=localhost
PROTOCOL=http

