COUCHDB_PASSWORD=password
NEXTCLOUD_PASSWORD=password
DATAMGMT_PASSWORD=password
TELEGRAM_TOKEN=#empty to switch the telegram bot off your_telegram_token
TELEGRAM_PROXY_URL=#empty to disable proxing
API_KEY=api_key
DOMAIN=localhost
PROTOCOL=http

